:root {
    --themePink: #ec098d;
    --themeGreen: #00b3b7;
    --iconbgColor: #c0eced;
    --secondryText: 'Lato', sans-serif;
    --primaryText: 'Rubik', sans-serif;
}

* {
    font-family: var(--secondryText);
}

.sub_heading {
    font-size: 20px;
}

.sub_sub_heading {
    font-size: 18px;
}

.normal_text {
    font-size: 16px;
}

.heading_text {
    font-size: 16px !important;
}

.sukaii_pink_color {
    color: var(--themePink);
}

.sukaii_pink_bgcolor {
    background-color: var(--themePink);
}

.sukaii_green_bgcolor {
    background-color: var(--themeGreen);
}

table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}

table th td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.iconImages {
    color: var(--themeGreen);
    font-size: x-large;
    /* background-color: var(--themePink); */
}

.price,
.service_info {
    font-family: var(--primaryText);
}

.service_info_result {
    font-family: var(--secondryText);
}

.icons_text {
    line-height: 1.1;
    font-weight: 500;
    font-family: var(--secondryText);
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: none;
    box-shadow: none;
}


/* rubic font family  */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
ul .login_row_list,
.menu_list {
    list-style: none;
    font-family: 'Lato', sans-serif;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.logo_mobile {
    width: 50%;
    position: relative;
    left: 4%;
}

.menu_list {
    font-weight: 500;
}

.menu_list a {
    text-decoration: none;
}

.tab_mobile_nav {
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: calc(0% + 59.5px);
    left: 0%;
    z-index: 100;
}

#MobileMenuSection ul>a {
    text-decoration: none;
}

.tab_mobile_nav li:hover {
    background-color: #06b5b93b;
}

.mobile_menu_list {
    border-bottom: 1px solid !important;
    border-radius: 0px;
    padding-left: 1.5rem;
    margin-top: 13px;
    padding-bottom: 0px;
}

.login_row_list {
    color: gray;
}

.nurses_image {
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
    top: 40%;
    left: 4%;
}

.nurses_image span h1 {
    font-size: 4rem;
    line-height: .8;
}

.we_are_doctor_image {
    height: 85%;
}

.we_are_for_labtop {
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;
}

.weare_text_details {
    font-family: 'Lato', sans-serif;
    font-size: large;
}

.thb_text {
    width: 39%;
    font-size: 1.5rem;
    font-size: 21px;
    color: #ec098d;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.thb_300 {
    font-size: 3.2rem;
    padding: 0.42rem 0.5rem;
    background: #06b5b9;
    color: whitesmoke;
    border-radius: 11px;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    right: -5%;
    width: 61%;
}

.thb_300:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 99%;
    top: 0%;
    right: 16%;
    z-index: -1;
    background: #06b5b9;
    transform-origin: bottom left;
    transform: skew(-20deg, 0deg);
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.input_icon {
    border: 1px solid;
    padding: 3px 8px;
    border-radius: 16px;
    top: 6%;
    left: -4.9%;
}

.freecall_div {
    border: 1.5px solid black;
    padding: .5rem;
    width: 100% !important;
    margin: auto;
    border-radius: 7px;
    position: relative;
    line-height: 1;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
}

#freecall_name input[placeholder="NAME"] {
    padding-left: 1.5rem;
}

#freecall_name,
#freecall_location,
#freecall_service {
    padding-left: 16px;
    font-size: 15px;
    font-weight: 600;
}

#freecall_location select {
    -webkit-appearance: none;
    width: 500px;
}

.freecall_name_icon {
    border: 1.5px solid black;
    padding: 0.5rem;
    border-radius: 50px;
    position: absolute;
    top: 5%;
    left: -5%;
    background: white;
    color: #06b5b9;
}

.selctor_dow_arrow {
    position: absolute;
    font-size: larger;
    right: 4%;
    top: 31%;
}

.call_btn {
    cursor: pointer;
    border-radius: 12px;
    background: #ec098d;
    color: whitesmoke;
    font-family: 'Rubik', sans-serif;
}

.book_now {
    min-width: 357px;
    max-width: 405px;
    width: 32%;
    margin: auto;
    border-radius: 13px;
    padding: 0.5rem 1rem;
    position: absolute;
    font-family: 'Rubik', sans-serif;
    top: -10%;
    left: 38%;
}

.we_made_it {
    word-spacing: 3px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    left: 44%;
    top: -21%;
    font-weight: 600;
}

.three_easy_steps {
    position: relative;
    text-align: center;
    margin: auto;
}

.booknow_text {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    width: 62%;
    min-width: 227;
    max-width: 227;
    line-height: 1.1;
    color: #06b5b9;
    font-weight: 500;
}

.justin {
    font-size: 1.6rem;
    padding-left: 5.5rem;
}

.three {
    font-size: 5.5rem;
    line-height: .9;
    position: absolute;
    top: 0%;
    right: 28%;
    color: #ec098d;
}

.easy_steps {
    font-size: 1.5rem;
    position: absolute;
    top: 36%;
    line-height: 1;
    right: 8%;
    display: flex;
    flex-direction: column;
    color: #ec098d;
}

.book_3_eassy_step {
    background-size: cover;
    background-image: url("../book_now_in_3_step_bg_image.svg");
    position: relative;
    background-repeat: no-repeat;
    height: 330px;
    margin-bottom: 4rem;
}

.f_way,
.s_way,
.t_way {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.f_way_icon,
.s_way_icon,
.t_way_icon {
    color: #ec098d;
    border: 1px solid black;
    padding: 0.7rem 1.3rem;
    border-radius: 66px;
    font-size: 2.2rem;
    background: white;
}

.book_services_btn {
    background: #ea088b;
    font-size: 1.3rem;
    font-weight: 600;
    color: whitesmoke;
    border-radius: 10px;
}

.Nurse_at_home_text,
.ELDERLY_CAREGIVERS_text,
.LAB_TEST_AT_HOME_text {
    margin: auto;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: darkgray;
    color: #585555;
    font-family: 'Lato', sans-serif;
}

.book_btn {
    font-family: 'Lato', sans-serif;
}

.ELDERLY_CAREGIVERS_text {
    width: 100%;
}

.f_s_c_heading,
.f_d_c_heading,
.f_sp_c_heading {
    font-family: 'Rubik', sans-serif;
}

.f_s_c_detail,
.f_d_c_detail,
.f_sp_c_detail {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    width: 82%;
    margin: auto;
    text-align: justify;
    color: gray;
}

.why_us,
.we_are_commited_to {
    font-size: 2.5rem;
    /* color: #ea088b; */
    font-family: 'Rubik', sans-serif;
}

.s_a_h {
    border: 2px solid;
    text-align: center;
    border-radius: 30px;
    position: relative;
    width: 95%;
    left: 5%;
}

.s_a_h h3,
.footer h5 {
    font-family: 'Rubik', sans-serif;
}

.s_a_h_img img {
    position: absolute;
    top: -38%;
    right: 29%;
    width: 128px;
}

.s_a_h_detail {
    font-family: 'Lato', sans-serif;
    width: 94%;
    min-height: 89px;
    margin: auto;
    padding-bottom: 1rem;
    text-align: justify;
}

.about_us_footer {
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    text-align: justify;
}

.footer h5 {
    padding-top: 1.5rem;
    color: #1f1f1f;
}

.our_services_list,
.quik_link_list {
    color: #ea088b;
}

.connect_us_div,
.our_services_list,
.quik_link_list {
    font-family: 'Lato', sans-serif;
}

.our_services_list span,
.quik_link_list span,
.connect_us_add,
.connect_us_email,
.connect_us_call {
    color: whitesmoke;
}

.copy_write {
    width: 100%;
    font-weight: 600;
    color: #56524c;
}

.bnp {
    background: #e90c8c;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 500;
}

.mobole_no {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.book_with_mob {
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
    background: #00b4b8;
}

.nearse_image {
    text-align: center;
    margin-bottom: 3rem;
}

.olders_image {
    align-items: center;
    margin-bottom: 3rem;
}

.lab_test {
    margin-bottom: 3rem;
}

.service_at_home_img {
    width: 30%;
    text-align: center;
}

.saht {
    border-bottom: 1px solid #00b4b8;
    padding-bottom: 0.15rem;
}

input#freecall_name:focus {
    outline: none !important;
    box-shadow: none !important;
}

.login_btn button {
    padding: .15rem .5rem;
    color: black;
    background: #e90c8c;
    font-weight: 500;
}

.top a span {
    border: 1px solid whitesmoke;
    border-radius: 50px;
    padding: 8px 15px;
    background: #16b6b8;
    color: #ec2b9a;
    font-size: larger;
    box-shadow: 0px 0px 6px 1px #16b6b899;
    position: fixed;
    right: 2%;
    bottom: 3%;
}

@media only screen and (min-width: 1350px) {
    .nurses_image span h1 {
        font-size: 5rem !important;
    }
}

@media only screen and (max-width: 1220px) {
    .nurses_image span h1 {
        font-size: 3.5rem;
    }
    .book_now {
        left: 34%;
    }
    .we_made_it {
        left: 40%;
    }
}

@media only screen and (max-width: 1024px) {
    .nurses_image span h1 {
        font-size: 3rem;
    }
    .nurses_image {
        font-size: 2rem;
    }
    .book_now {
        left: 31%;
    }
    .we_made_it {
        left: 36.5%;
    }
    .thb_text {
        font-size: 17px;
    }
}

@media only screen and (max-width: 900px) {
    .nurses_image span h1 {
        font-size: 2.5rem;
    }
    .nurses_image {
        font-size: 1.5rem;
    }
    .book_now {
        left: 28%;
    }
    .we_made_it {
        left: 34.5%;
    }
}

@media only screen and (max-width:768px) {
    .nurse-at-home_div {
        border-right: none !important;
    }
    .logo_mobile {
        width: 75%;
    }
    .book_now {
        left: 25%;
    }
}

@media only screen and (max-width:688px) {
    .book_now {
        left: 21%;
    }
    .we_made_it {
        left: 29.5%;
    }
}

@media only screen and (max-width:600px) {
    .book_now {
        left: 17%;
    }
}

@media only screen and (max-width:550px) {
    .book_now {
        left: 13%;
    }
    .we_made_it {
        left: 23.5%;
    }
}

@media only screen and (max-width:500px) {
    .book_now {
        left: 10%;
    }
}

@media only screen and (max-width: 450px) {
    .we_are_doctor_image,
    .we_are_div_laptop {
        display: none !important;
    }
    .carousel_1_image h1 {
        font-size: 25px;
    }
    .carousel_1_image {
        font-size: 1rem;
    }
    .thb300 {
        width: 100% !important;
    }
    .t_way {
        padding-left: 0%;
    }
    .thb_300 {
        right: 1% !important;
    }
    .book_now {
        width: 57% !important;
        max-width: 260px !important;
        margin-right: 10px;
        margin-left: 5px;
        border-radius: 13px;
        position: absolute;
        font-family: 'Rubik', sans-serif;
        top: -10%;
        left: 3%;
    }
    .we_made_it {
        left: 17%;
        top: -22%;
    }
    .booknow_text {
        font-size: 2.1rem;
    }
    .three {
        font-size: 5rem;
        right: 27%;
    }
    .easy_steps {
        right: 3%;
        top: 27%;
    }
    .justin {
        padding-left: 4rem;
    }
    .nearse_image {
        text-align: unset;
        width: 41%;
        margin-bottom: 0rem;
    }
    .nearse_image img {
        width: 100% !important;
        margin-bottom: 1rem;
    }
    .nurse-at-home_div {
        display: flex;
        align-items: center;
        border-right: none !important;
    }
    .Nurse_at_home_text {
        width: 100%;
        font-size: 1.5rem;
        max-width: unset;
    }
    .olders_image {
        text-align: unset;
        width: 40%;
        margin-bottom: 0rem;
    }
    .olders_image img {
        width: 100%;
    }
    .ELDERLY_CAREGIVERS_text {
        width: 100%;
        font-size: 1.5rem;
    }
    .olders_image_div {
        display: flex;
        align-items: center;
    }
    .lab_test {
        text-align: unset;
        width: 41%;
        margin-bottom: 0rem;
    }
    .lab_test img {
        width: 100% !important;
    }
    .lab_test_div {
        display: flex;
        align-items: center;
    }
    .LAB_TEST_AT_HOME_text {
        max-width: unset;
        width: 100%;
        font-size: 1.5rem;
    }
    .lab_test_div {
        display: flex;
        align-items: center;
    }
    .book_3_eassy_step {
        margin-bottom: 2rem;
    }
    .we_are_commited_to {
        font-size: 2rem;
    }
    .recommeded_to_desktop {
        display: none;
    }
    .why_us {
        font-size: 2rem;
    }
    .nurses_image span h1 {
        font-size: 4rem;
    }
    .book_with_mob {
        position: sticky;
        bottom: 0%;
        left: 0%;
    }
}

@media only screen and (max-width: 390px) {
    .parternerWsImages {
        right: 7px !important;
        top: -9.5px !important;
    }
}

@media only screen and (min-width: 900px) {
    .input_icon {
        top: 8%;
        left: -2.5%;
    }
    .carousel_image {
        height: calc(100vh - 100px);
    }
    .services_images {
        width: 75% !important;
    }
    .service_detail_image {
        width: 88% !important;
    }
    .service_detail_icon_1 {
        width: 15% !important;
    }
    .service_detail_icon_2 {
        width: 13% !important;
    }
    .service_detail_icon_3 {
        width: 12% !important;
    }
    .service_detail_icon_4 {
        width: 14% !important;
    }
    .service_detail_text {
        font-size: large !important;
        font-weight: 500;
        margin-left: 15px;
    }
    .service_detail_name {
        font-size: x-large;
        margin-left: 30px;
    }
    .detail_container {
        width: 65% !important;
    }
    .covid_pcr_Form_icon {
        width: 20% !important;
    }
    /* #map {
        height: 40% !important;
    } */
    .sukaii_paid_icon {
        width: 50% !important;
    }
    .parternerWsImages {
        right: 74% !important;
        top: -5.5px !important;
    }
    .bn3step_img {
        height: 100%;
    }
    .bn3step_img_parent {
        height: 70vh;
    }
    .bg_heading {
        font-size: x-large;
    }
}

.active {
    background-color: #c0eced;
}


/* test booking style */

.list {
    background: #efefef;
}

.list input {
    accent-color: #ea088b;
}

.list label {
    color: #ea088b;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

.patient_details[placeholder] {
    font-size: 14px;
    font-weight: 500;
}

.schedule_day {
    border: 1px solid #9f9f9f;
    border-radius: 7px;
    width: 15%;
    margin: 0% 3.5px;
    max-width: 15%;
    font-size: 14px;
    padding: 4px 0px;
}

.totalDAys .schedule_day::selection {
    color: red;
    background-color: var(--iconbgColor);
}

.schudule_time {
    border: 1px solid #9f9f9f;
}

.carousel_1_image {
    color: black !important;
    z-index: 10;
    position: absolute;
    top: 36%;
    left: 4%;
    font-size: 1rem;
}

.carousel_1_image h1 {
    font-size: 25px;
}

.data_active {
    background-color: #34dfe3;
}