.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
assets/mimages/sukaiiReportHeaderReport.jpeg
uploads/1648097711_Survey_Software_Review_4_Mar_22_(1).pptx
uploads/sample1.csv
uploads/sukaii_sample1.csv
uploads/sample1.csv
uploads/sukaii_sample11.csv
vendor.zip
uploads/sample1.csv
uploads/sample1.csv
uploads/Client_Admin_Manual_SA270521.docx
uploads/sample1.csv
uploads/sukaii_sample12.csv
uploads/sample1.csv
uploads/sukaii_sample13.csv
uploads/sukaii_sample14.csv
uploads/sukaii_sample16.csv
uploads/sukaii_sample17.csv
uploads/Survey_Software_Review_4_Mar_22_(1).pptx
uploads/ตัวอย่างรายงานผล_excel.csv
uploads/ตัวอย่างรายงานผล_excel1.csv
uploads/ตัวอย่างรายงานผล_excel2.csv
uploads/sukaii_sample15.csv
uploads/sample1.csv
application/config/config.php
uploads/sample1.csv
application/config/routes.php
application/config/config.php
application/config/routes.php
